<div>
    {{#each productos}}
    <div>
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}}>
    </div>
    {{/each}}
</div>
<div>
    <button>
        <a href="http://localhost:8080">Agregar productos</a>
    </button>
</div>